@tailwind base;
@tailwind components;
@tailwind utilities;

/* LIGHT MODE */
:root {
  --button-outline: rgba(0,0,0, .10);
  --badge-outline: rgba(0,0,0, .05);

  /* Automatic computation of border around primary / danger buttons */
  --opaque-button-border-intensity: -8; /* In terms of percentages */

  /* Backgrounds applied on top of other backgrounds when hovered/active */
  --elevate-1: rgba(0,0,0, .03);
  --elevate-2: rgba(0,0,0, .08);

  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.3763 0.0160 359.5767);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.3763 0.0160 359.5767);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.3763 0.0160 359.5767);
  --primary: oklch(0.8405 0.0889 33.5614);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(1.0000 0 0);
  --secondary-foreground: oklch(0.6341 0.1127 32.1873);
  --muted: oklch(1.0000 0 0);
  --muted-foreground: oklch(0.6313 0.0112 58.1152);
  --accent: oklch(0.9237 0.0486 60.1437);
  --accent-foreground: oklch(0.3763 0.0160 359.5767);
  --destructive: oklch(0.6879 0.1584 17.4303);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(1.0000 0 0);
  --input: oklch(1.0000 0 0);
  --ring: oklch(0.8405 0.0889 33.5614);
  --chart-1: oklch(0.8405 0.0889 33.5614);
  --chart-2: oklch(0.9237 0.0486 60.1437);
  --chart-3: oklch(0.9950 0.0034 67.7842);
  --chart-4: oklch(0.9452 0.0285 39.3481);
  --chart-5: oklch(0.7296 0.0916 31.3216);
  --sidebar: oklch(1.0000 0 0);
  --sidebar-foreground: oklch(0.3763 0.0160 359.5767);
  --sidebar-primary: oklch(0.8405 0.0889 33.5614);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9237 0.0486 60.1437);
  --sidebar-accent-foreground: oklch(0.3763 0.0160 359.5767);
  --sidebar-border: oklch(1.0000 0 0);
  --sidebar-ring: oklch(0.8405 0.0889 33.5614);
  --font-sans: Montserrat, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: Ubuntu Mono, monospace;
  --radius: 0.625rem;
  --shadow-x: 0px;
  --shadow-y: 6px;
  --shadow-blur: 12px;
  --shadow-spread: -3px;
  --shadow-opacity: 0.09;
  --shadow-color: #1a1a1a;
  --shadow-2xs: 0px 6px 12px -3px hsl(0 0% 10.1961% / 0.04);
  --shadow-xs: 0px 6px 12px -3px hsl(0 0% 10.1961% / 0.04);
  --shadow-sm: 0px 6px 12px -3px hsl(0 0% 10.1961% / 0.09), 0px 1px 2px -4px hsl(0 0% 10.1961% / 0.09);
  --shadow: 0px 6px 12px -3px hsl(0 0% 10.1961% / 0.09), 0px 1px 2px -4px hsl(0 0% 10.1961% / 0.09);
  --shadow-md: 0px 6px 12px -3px hsl(0 0% 10.1961% / 0.09), 0px 2px 4px -4px hsl(0 0% 10.1961% / 0.09);
  --shadow-lg: 0px 6px 12px -3px hsl(0 0% 10.1961% / 0.09), 0px 4px 6px -4px hsl(0 0% 10.1961% / 0.09);
  --shadow-xl: 0px 6px 12px -3px hsl(0 0% 10.1961% / 0.09), 0px 8px 10px -4px hsl(0 0% 10.1961% / 0.09);
  --shadow-2xl: 0px 6px 12px -3px hsl(0 0% 10.1961% / 0.22);
  --tracking-normal: 0em;
  --spacing: 0.25rem;

  --card-border: oklch(0.95 0 0);
  --popover-border: oklch(0.95 0 0);

  /* Automatically computed borders */
  --sidebar-primary-border: oklch(0.75 0.0889 33.5614);
  --sidebar-accent-border: oklch(0.85 0.0486 60.1437);
  --primary-border: oklch(0.75 0.0889 33.5614);
  --secondary-border: oklch(0.92 0 0);
  --muted-border: oklch(0.92 0 0);
  --accent-border: oklch(0.85 0.0486 60.1437);
  --destructive-border: oklch(0.60 0.1584 17.4303);
}

.dark {
  --button-outline: rgba(255,255,255, .10);
  --badge-outline: rgba(255,255,255, .05);

  --opaque-button-border-intensity: 9;  /* In terms of percentages */

  /* Backgrounds applied on top of other backgrounds when hovered/active */
  --elevate-1: rgba(255,255,255, .04);
  --elevate-2: rgba(255,255,255, .09);

  --background: oklch(0.2844 0.0199 351.5444);
  --foreground: oklch(1.0000 0 0);
  --card: oklch(0.3564 0.0214 338.4295);
  --card-foreground: oklch(1.0000 0 0);
  --popover: oklch(0.3564 0.0214 338.4295);
  --popover-foreground: oklch(1.0000 0 0);
  --primary: oklch(0.8405 0.0889 33.5614);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.4113 0.0228 342.8474);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.3195 0.0188 344.2373);
  --muted-foreground: oklch(0.9604 0.0059 59.6510);
  --accent: oklch(0.9237 0.0486 60.1437);
  --accent-foreground: oklch(0.2844 0.0199 351.5444);
  --destructive: oklch(0.6879 0.1584 17.4303);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.4113 0.0228 342.8474);
  --input: oklch(0.4113 0.0228 342.8474);
  --ring: oklch(0.8405 0.0889 33.5614);
  --chart-1: oklch(0.8405 0.0889 33.5614);
  --chart-2: oklch(0.9237 0.0486 60.1437);
  --chart-3: oklch(0.9950 0.0034 67.7842);
  --chart-4: oklch(0.9452 0.0285 39.3481);
  --chart-5: oklch(0.7296 0.0916 31.3216);
  --sidebar: oklch(0.2844 0.0199 351.5444);
  --sidebar-foreground: oklch(1.0000 0 0);
  --sidebar-primary: oklch(0.8405 0.0889 33.5614);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9237 0.0486 60.1437);
  --sidebar-accent-foreground: oklch(0.2844 0.0199 351.5444);
  --sidebar-border: oklch(0.4113 0.0228 342.8474);
  --sidebar-ring: oklch(0.8405 0.0889 33.5614);
  --font-sans: Montserrat, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: Ubuntu Mono, monospace;
  --radius: 0.625rem;
  --shadow-x: 0px;
  --shadow-y: 6px;
  --shadow-blur: 12px;
  --shadow-spread: -3px;
  --shadow-opacity: 0.09;
  --shadow-color: #1a1a1a;
  --shadow-2xs: 0px 6px 12px -3px hsl(0 0% 10.1961% / 0.04);
  --shadow-xs: 0px 6px 12px -3px hsl(0 0% 10.1961% / 0.04);
  --shadow-sm: 0px 6px 12px -3px hsl(0 0% 10.1961% / 0.09), 0px 1px 2px -4px hsl(0 0% 10.1961% / 0.09);
  --shadow: 0px 6px 12px -3px hsl(0 0% 10.1961% / 0.09), 0px 1px 2px -4px hsl(0 0% 10.1961% / 0.09);
  --shadow-md: 0px 6px 12px -3px hsl(0 0% 10.1961% / 0.09), 0px 2px 4px -4px hsl(0 0% 10.1961% / 0.09);
  --shadow-lg: 0px 6px 12px -3px hsl(0 0% 10.1961% / 0.09), 0px 4px 6px -4px hsl(0 0% 10.1961% / 0.09);
  --shadow-xl: 0px 6px 12px -3px hsl(0 0% 10.1961% / 0.09), 0px 8px 10px -4px hsl(0 0% 10.1961% / 0.09);
  --shadow-2xl: 0px 6px 12px -3px hsl(0 0% 10.1961% / 0.22);

  --card-border: oklch(0.4113 0.0228 342.8474);
  --popover-border: oklch(0.4113 0.0228 342.8474);

  /* Automatically computed borders */
  --sidebar-primary-border: oklch(0.90 0.0889 33.5614);
  --sidebar-accent-border: oklch(0.95 0.0486 60.1437);
  --primary-border: oklch(0.90 0.0889 33.5614);
  --secondary-border: oklch(0.50 0.0228 342.8474);
  --muted-border: oklch(0.40 0.0188 344.2373);
  --accent-border: oklch(0.95 0.0486 60.1437);
  --destructive-border: oklch(0.75 0.1584 17.4303);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

/**
 * Using the elevate system.
 * Automatic contrast adjustment.
 *
 * <element className="hover-elevate" />
 * <element className="active-elevate-2" />
 *
 * // Using the tailwind utility when a data attribute is "on"
 * <element className="toggle-elevate data-[state=on]:toggle-elevated" />
 * // Or manually controlling the toggle state
 * <element className="toggle-elevate toggle-elevated" />
 *
 * Elevation systems have to handle many states.
 * - not-hovered, vs. hovered vs. active  (three mutually exclusive states)
 * - toggled or not
 * - focused or not (this is not handled with these utilities)
 *
 * Even without handling focused or not, this is six possible combinations that
 * need to be distinguished from eachother visually.
 */
@layer utilities {

  /* Hide ugly search cancel button in Chrome until we can style it properly */
  input[type="search"]::-webkit-search-cancel-button {
    @apply hidden;
  }

  /* Placeholder styling for contentEditable div */
  [contenteditable][data-placeholder]:empty::before {
    content: attr(data-placeholder);
    color: hsl(var(--muted-foreground));
    pointer-events: none;
  }

  /* .no-default-hover-elevate/no-default-active-elevate is an escape hatch so consumers of
   * buttons/badges can remove the automatic brightness adjustment on interactions
   * and program their own. */
  .no-default-hover-elevate {}

  .no-default-active-elevate {}


  /**
   * Toggleable backgrounds go behind the content. Hoverable/active goes on top.
   * This way they can stack/compound. Both will overlap the parent's borders!
   * So borders will be automatically adjusted both on toggle, and hover/active,
   * and they will be compounded.
   */
  .toggle-elevate::before,
  .toggle-elevate-2::before {
    content: "";
    pointer-events: none;
    position: absolute;
    inset: 0px;
    /*border-radius: inherit;   match rounded corners */
    border-radius: inherit;
    z-index: -1;
    /* sits behind content but above backdrop */
  }

  .toggle-elevate.toggle-elevated::before {
    background-color: var(--elevate-2);
  }

  /* If there's a 1px border, adjust the inset so that it covers that parent's border */
  .border.toggle-elevate::before {
    inset: -1px;
  }

  /* Does not work on elements with overflow:hidden! */
  .hover-elevate:not(.no-default-hover-elevate),
  .active-elevate:not(.no-default-active-elevate),
  .hover-elevate-2:not(.no-default-hover-elevate),
  .active-elevate-2:not(.no-default-active-elevate) {
    position: relative;
    z-index: 0;
  }

  .hover-elevate:not(.no-default-hover-elevate)::after,
  .active-elevate:not(.no-default-active-elevate)::after,
  .hover-elevate-2:not(.no-default-hover-elevate)::after,
  .active-elevate-2:not(.no-default-active-elevate)::after {
    content: "";
    pointer-events: none;
    position: absolute;
    inset: 0px;
    /*border-radius: inherit;   match rounded corners */
    border-radius: inherit;
    z-index: 999;
    /* sits in front of content */
  }

  .hover-elevate:hover:not(.no-default-hover-elevate)::after,
  .active-elevate:active:not(.no-default-active-elevate)::after {
    background-color: var(--elevate-1);
  }

  .hover-elevate-2:hover:not(.no-default-hover-elevate)::after,
  .active-elevate-2:active:not(.no-default-active-elevate)::after {
    background-color: var(--elevate-2);
  }

  /* If there's a 1px border, adjust the inset so that it covers that parent's border */
  .border.hover-elevate:not(.no-hover-interaction-elevate)::after,
  .border.active-elevate:not(.no-active-interaction-elevate)::after,
  .border.hover-elevate-2:not(.no-hover-interaction-elevate)::after,
  .border.active-elevate-2:not(.no-active-interaction-elevate)::after,
  .border.hover-elevate:not(.no-hover-interaction-elevate)::after {
    inset: -1px;
  }
}